/* ----------------------------------------------------
                        Sommaire
 ---------------------------------------------------- */

/*

variables

body
side
    title
    menu
        items*4
main
    presentation
    main-title
    main-content
    d-arrow
    u-arrow

media queries
    1200
    900
    600

*/

/* ----------------------------------------------------
                        Variables 
 ---------------------------------------------------- */

$primcolor : #444;
$secondcolor: #009999;
$thirdcolor: #00aaaa;

/* ----------------------------------------------------
                        Reset 
 ---------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    min-height: 100vh;
}

/* ----------------------------------------------------
                        Side 
 ---------------------------------------------------- */
body {
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    scroll-behavior: smooth;
}

/* ----------------------------------------------------
                        Side 
 ---------------------------------------------------- */

#side {
    background: $primcolor;
    width: 20rem;
    transition: 0.3s;
}

#side-fixed {
    position: sticky;
    width: 20rem;
    top: 3rem;
    opacity: 1;
    transition: 0.3s;
}

#burger {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 17.5rem;
    top: 1rem;
    transition: 0.3s;
}

.line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
}

#burger:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

#burger:hover .line {
    box-shadow: 0 0 0.3rem 0 white;
}

.side-title {
    color: white;
    padding: 1rem;
}

.side-menu {
    color: white;
    padding-left: 3rem;
    padding-top: 2rem;
}

#side-menu-ul {
    display: flex;
    flex-direction: column;
}

.side-item {
    display: flex;
}

.side-item a {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: grey;
    transition: 0.3s
}

.side-item a:hover {
    color: white;
    text-shadow: 0 0 0.3rem #fff;
    transition: 0.3s;
    transform: scale(1.1);
}

/* ----------------------------------------------------
                        Main
 ---------------------------------------------------- */

#main {
    min-height: 100vh;
    background: $secondcolor;
}

section {
    position: relative;
}

section:nth-child(odd) {
    background-color: whitesmoke;
}

.main-title {
    padding: 2rem;
}

.main-title:not(:first-child) {
    padding-top: 4rem;
}

.main-content {
    padding: 2rem;
}

/* ----------------------------------------------------
                        arrows
 ---------------------------------------------------- */

.arrow {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.arrow:hover {
    transform: scale(1.4);
    transition: 0.3s;
}

.down {
    bottom: 1rem;
    box-shadow: 0 0.8rem 0.6rem -0.6rem black;
}

.up {
    top: 1rem;
    box-shadow: 0 -0.8rem 0.6rem -0.6rem black;
}

/* ----------------------------------------------------
                        presentation
 ---------------------------------------------------- */

#presentation {}

/* ----------------------------------------------------
                        projets
 ---------------------------------------------------- */

#projets {}

.main-card {
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: 0 0.4rem 0.8rem -0.6rem black;
    position: relative;
}

#card1 {}

#card2 {}

#card3 {}

.card-title {}

.card-text {
    margin: 1rem;
    padding: 1rem;
}

.card-link {
    margin: 1rem;
    padding: 1rem;
    color: white;
    background-color: $primcolor;
    box-shadow: 0 0.2rem 0.5rem -0.2rem white;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ----------------------------------------------------
                        cv
 ---------------------------------------------------- */

#cv {}

/* ----------------------------------------------------
                        contact
 ---------------------------------------------------- */

#contact-card {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

.contact-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
}

.contact-link {
    display: flex;
    flex: 1;
    padding: 2rem;
    align-items: center;
    transition: 0.3s;
}

.contact-link:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.contact-img {
    max-width: 100%;
    height: auto;
}

.contact-text {
    display: flex;
    word-wrap: break-word;
    margin: 1rem;
    text-align: center;
    flex: 3;
    align-items: center;
}

/* ----------------------------------------------------
                        to the top button
 ---------------------------------------------------- */

#to-the-top {
    display: flex;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: $primcolor;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 0 0.5rem 0 0.5rem;
    transition: 0.3s;
    box-shadow: 0 0.2rem 0.5rem -0.2rem black;
    color: white;
}

#to-the-top:hover {
    transform: scale(1.4);
    transition: 0.3s;
    box-shadow: 0 0.4rem 0.8rem -0.6rem black;
}


#to-the-top p:first-child {
    margin-right: -0.5rem;

}


/* ----------------------------------------------------
                        Media queries
 ---------------------------------------------------- */

@media screen and (max-width:1000px) {
    #side {
        width: 4rem;
        transition: 0.3s;
    }

    #side-fixed {
        left: -20rem;
        opacity: 0;
    }

    #burger {
        left: 1rem;
        visibility: visible;
        opacity: 1;
    }

    #main {}


}